<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
	<meta charset="UTF-8">
	<title>Import Home</title>
</head>
	<div class="row justify-content-center">
		<div class="col-sm-4">
			<div class="row">
				<div class="card bg-primary text-white">
					<div class="card-header">
						Welcome to Imports Home
					</div>
					<div class="card-body">
						<a href="/imports/inventory" class="btn btn-success">Import Inventory file</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</html>